In [1]:
import numpy as np
import pandas as pd
import scipy 
from scipy import stats
import statsmodels.api as sm
from IPython.display import display

pd.options.display.max_columns = None

In [8]:
df = pd.read_excel('C:/Users/Acer/Downloads/pre-screen/final_result2.xlsx')
df.head()

,Unnamed: 0,a,b,c,d,e,f,g,h,i,Cluster
0,0,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.0,0.07,Formulation 1
1,1,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.0,0.03,Formulation 3
2,2,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.0,0.00,Formulation 1
3,3,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.0,0.00,Formulation 1
4,4,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.0,0.00,Formulation 1

In [9]:
df = df.drop(['Unnamed: 0'],axis = 1)

In [10]:
result = df[['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i','Cluster']].groupby('Cluster').median()
result = result.transpose()

In [11]:
result.columns

Index(['Formulation 1', 'Formulation 2', 'Formulation 3', 'Formulation 4'], dtype='object', name='Cluster')

In [12]:
# Normality Test
print(stats.shapiro(result['Formulation 1'])) # Shapiro Test
print(stats.shapiro(result['Formulation 2']))
print(stats.shapiro(result['Formulation 3']))
print(stats.shapiro(result['Formulation 4']))

ShapiroResult(statistic=0.5408061146736145, pvalue=1.9301562133478e-05)
ShapiroResult(statistic=0.5384564399719238, pvalue=1.8112325051333755e-05)
ShapiroResult(statistic=0.553828239440918, pvalue=2.7454823793959804e-05)
ShapiroResult(statistic=0.5456883311271667, pvalue=2.2027727027307265e-05)

p-value for shapiro test are <0.05
- reject null hypothesis
- variables failed normality test

In [13]:
# Variance test
scipy.stats.levene(result['Formulation 1'], result['Formulation 2'],
                   result['Formulation 3'],result['Formulation 4'])

LeveneResult(statistic=0.0003066971882176188, pvalue=0.9999924071318681)

p-value for shapiro test are >0.05
- accept null hypothesis
- variables have equal variances

Measurement variable does not meet the normality assumption of a one-way anova. Normal / gaussian distribution should be analysed with ANOVA while a non-normal / non-gaussian distribution should be analysed with the Kruskal-Wallis

In [14]:
# Conduct the Kruskal-Wallis Test 
test = stats.kruskal(result['Formulation 1'], result['Formulation 2'], 
                     result['Formulation 3'],result['Formulation 4'])
  
# Print the result
print(test)

KruskalResult(statistic=0.08854482898199191, pvalue=0.9931757256816306)

p-value > 0.05
- Accept null hypothesis
- Formulations are equal